* {
  font-family: Helvetica;
}


h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: left;
  background-color: MediumSpringGreen;
  padding-left: 8px;
}
mark.blue {
  color: blue;
  background: none;
}

h4 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: left;
  background-color: SkyBlue;
  padding-left: 8px;

}

h5 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: left;
  background-color: LightCoral;
  padding-left: 8px;

}
